---
title: About this page 
layout: base.njk
---

<div class="container">
    <h1> Acerca De</h1>
    <div class="vibe"> You are great!</div>

    <div class="love">
        ❤️
    </div>
</div>

<script src="vibe.js"></script>