---
title: A page for You
layout: base.njk
---

<div class="container">
    <h1> This is Sirop Vegan</h1>
    <div class="vibe"> You baby are great!</div>

    <div class="love">
        ❤️
    </div>
    <ul>
        {% for article in news.articles %}
        <li>
            <h5><a href="{{ article.url}}"> {{ article.title}} </a></h5>
            <small> {{article.source.name}} - {{article.publishedAt}}</small>
        </li>
        {% endfor %}
    </ul>
</div>

<script src="/js/vibe.js"></script>